
p {
    text-align:  center;
    font-size: 80px;
    font-weight: bold;
    color: #b2bec3;
}
.wrap {
    width: 1200px;
    margin: auto;
}
.comment1 {
    position:  relative;
    margin-top: 50px;
    height: 330px;
    background: #dfe6e9;
    border-radius: 15px;
}
.img1 {
    position:  absolute;
    top: 25px;
    background: url(1.jpeg);
    background-size:  cover;
    left: 25px;
    width: 230px;
    height: 230px;
}

.content1,input {
    position:  absolute;
    top: 25px;
    right:  25px;
    width: 875px;
    height: 221px;
    line-height: 32px;
    font-size: 18px;
    text-align: justify;
    border: 3px solid #b2bec3;
    background: white;
}
button {
    position:  absolute;
    bottom: 15px;
    left: 290px;
    width: 100px;
    height: 45px;
    border:  none;
    border-radius: 5px;
    background: #b2bec3;
}

button:hover {
    cursor:  pointer;
    background: 
}
.comment2 {
    position:  relative;
    margin-top: 50px;
    height: 280px;
    background: #dfe6e9;
    border-radius: 15px;
}
.img2 {
    position:  absolute;
    top: 25px;
    background: url(1.jpeg);
    background-size:  cover;
    left: 30px;
    width: 230px;
    height: 230px;
}

.content2 {
    position:  absolute;
    top: 25px;
    right: 30px;
    width: 850px;
    height: 100%;
    line-height: 32px;
    font-size: 18px;
    text-align: justify;
}