.wrap {
	width: 1200px;
	margin: auto;
}
.grid-container {
	margin: 150px 0 50px;
	display: grid;
	grid-gap: 60px;
	grid-template-columns: auto auto;
}
.grid-item {
	background: #b2bec3;
	text-align:  center;
	height: 450px;
}
p {
	margin-top:  110px;
	color:  #b2bec3;
	font-size:  80px;
	font-weight: bold;	
	text-align:  center;
}
.item1,.item4 {
	grid-column: 1/ span 2;
}
.item2, .item3, .item4 {
	height: 110px;
	background: #d2dae2;
}
.item5 {
	height: 130px;
	width: 50%;
	background: #636e72;
	margin-bottom: 60px;
}
