.wrap {
	width: 1200px;
	margin: auto;
}

.container {
	position: relative;
	text-align: justify;
}
.item {
	background: #b2bec3;
	border-radius: 10px;
}
p {
	margin-top:  100px;
	color:  #b2bec3;
	font-size:  70px;	
	font-weight: bold;
	text-align: center;	
	
}
body {
	background: #dfe6e9;
}
.item2 {
	position:  absolute;
	width: 695px;
	height: 250px;
	right:  0;
	display: flex;
	justify-content: center;
	padding: 45px;
}
.item5 {
	position:  absolute;
	right: 0;
	top: 385px;
	width: 280px;
	height: 800px;
	display:  flex;
	padding: 45px;
	flex-direction: column;
}
.item2 .img {
	width: 35%;
	background: url(pexels-photo-860977.jpeg);
 	background-size:  cover;
 	background-position: center center;
}
.item2 .text2 {
	width: 60%;	
	margin-left: 5%;
}
.text2 .title{
	font-size:  23px;
	font-weight:  bold;
}
.text2 .text {
	margin-top: 15px;
	line-height: 24px;
}
.item3 {
	position:  absolute;
	top: 385px;
	width: 370px;
	background: url(pexels-photo-841303.jpeg);
	background-size: cover;
	background-position: center center;
	height: 350px;
}
.item4 {
	position:  absolute;
	padding: 45px;
	left: 415px;
	top: 385px;
	width: 280px;
	height: 405px;
}
.item4 .text3 .title, .text4 .title, .item5 .text5 .title{
	font-size:  23px;
	font-weight: bold;
}
.item4 .text3 .text, .text4 .text,.item5 .text5 .text{
	line-height: 25px;
	margin-top: 15px;
}
.item6 {
	position:  absolute;
	left:  0;
	top: 780px;
	width: 280px;
	height: 405px;
	padding: 45px;
}
.item7 {
	position:  absolute;
	top: 925px;
	width: 370px;
	height:  350px;
	background: url(pexels-photo-88647.jpeg);
	background-size:  cover;
	left: 415px;
}
.item1 {
	position:  absolute;
	padding: 45px;
	width: 280px;
	height: 250px;
}
.text1{
	margin-top: 15px;
	line-height: 24px;
}
.title1{	
	font-size: 23px;
	font-weight: bold;
}
.item5 .img{
	background: url(pexels-photo-1130626.jpeg);
	background-size:  cover;
	width:  100%;
	height: 200px;
}
.item5 .text5{
	margin-top: 15px;
}
.item5, .item6, .item7{
	margin-bottom: 45px;
}